@page "/LocuriDeConsum/{id:int}/Sterge"
@using ProiectBD.Enums;
@using ProiectBD.Pages.Reclamatii;
@model StergeModel
@{
    ViewData["Title"] = "Sterge loc de consum";
}

<div class="text-center">
    <h1 class="display-4 text-uppercase">@ViewData["Title"]</h1>
</div>
