@page "/Facturi/{id:int}/Sterge"
@using ProiectBD.Enums;
@using ProiectBD.Pages.Facturi;
@model StergeModel
@{
    ViewData["Title"] = "Sterge factura";
}

<div class="text-center">
    <h1 class="display-4 text-uppercase">@ViewData["Title"]</h1>
</div>
