@page
@model IndexModel
@{
    ViewData["Title"] = "Prima pagina";
}

<div class="text-center">
    <h1 class="display-4">Companie de furnizare energie electrica</h1>
    <h2 class="display-6">Proiect Baze de Date</h2>
</div>
