@page "/Clienti/{id:int}/Sterge"
@using ProiectBD.Enums;
@using ProiectBD.Pages.Clienti;
@model StergeModel
@{
    ViewData["Title"] = "Sterge client";
}

<div class="text-center">
    <h1 class="display-4 text-uppercase">@ViewData["Title"]</h1>
</div>
