@page "/Incasari/{id:int}/Sterge"
@using ProiectBD.Enums;
@using ProiectBD.Pages.Incasari;
@model StergeModel
@{
    ViewData["Title"] = "Sterge incasare";
}

<div class="text-center">
    <h1 class="display-4 text-uppercase">@ViewData["Title"]</h1>
</div>
