@page "/Indecsi/{id:int}/Sterge"
@using ProiectBD.Enums;
@using ProiectBD.Pages.Indecsi;
@model StergeModel
@{
    ViewData["Title"] = "Sterge index";
}

<div class="text-center">
    <h1 class="display-4 text-uppercase">@ViewData["Title"]</h1>
</div>
